APP_SECRET_KEY=change-this-before-production
SQLITE_DB_PATH=C:\tradematic\backend\tradematic.sqlite3
FYERS_REDIRECT_URI=http://localhost
FYERS_APP_ID_HASH_FORMAT=concat
SEED_LOCAL_USER=true
SEED_USER_EMAIL=admin@example.com
SEED_USER_PASSWORD=admin
SEED_USER_FULL_NAME=Admin User
SEED_USER_PLAN=Monthly
